cache: bundler
sudo: false
bundler_args: ""
rvm:
  - 2.0.0
  - 2.1.8
  - 2.2.4
  - 2.3.1
gemfile:
  - gemfiles/rails3.2.gemfile
  - gemfiles/rails4.1.gemfile
  - gemfiles/rails4.2.gemfile
  - gemfiles/rails5.0.gemfile
script: "bundle exec rake spec"
matrix:
  exclude:
    - rvm: 2.0.0
      gemfile: gemfiles/rails5.0.gemfile
    - rvm: 2.1.8
      gemfile: gemfiles/rails5.0.gemfile
