name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.1', '3.2', '3.3']
        rails: ['6.1', '7.0', '7.1']
        exclude:
          - ruby: '3.2'
            rails: '6.1'
          - ruby: '3.3'
            rails: '6.1'
    name: ruby${{ matrix.ruby }} rails${{ matrix.rails }} rake
    env:
      BUNDLE_GEMFILE: gemfiles/rails${{ matrix.rails }}.gemfile
    steps:
    - uses: zendesk/checkout@v3
    - uses: zendesk/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake
